
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid  #0c8c70;
    background: rgba(255, 255, 255, 0.686);

}

.logo img,
.logo-img {
    height: 70px;   
    width: auto;
    object-fit: contain;
    cursor: pointer;
}


.nav-links {
    display: flex;
    gap: 35px;
    align-items: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #0c8c70;
}


.btn {
    background-color:  #0c8c70;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #08463a;
}


.hero {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}


#heroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(70%);
}


.hero-text {
    position: absolute;
    top: 210px; 
    left: 0;
    right: 0;
    align-items: center; 
    text-align: center;
    color: white;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

.hero-text h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    opacity: 0.9;
}

.hero-text h1 {
    font-size: 55px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 10px;
}



.hero-text p {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 15px;
    opacity: 0.9;
    white-space: nowrap;   
      
}

.hero-text h1 {
    animation: slideDownCycle 10s ease infinite;
}


.hero-text p {
    animation: slideUpCycle 10s ease infinite; 
}


@keyframes slideDownCycle {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
 
    30% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideUpCycle {

    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    12% { 
        opacity: 0;
    }

    42% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 1;
    }
  
    100% {
        opacity: 0;
    }
}

